:root {
	--accent: rebeccapurple;
}

html {
	font-family: system-ui, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}

ul[role="list"], ol[role="list"], dl[role="list"] {
	padding: 0;

	li {
		list-style: none;
	}
}
