---
import Layout from "../layouts/Layout.astro";
import Drink from "../components/Drink.astro";

// TODO: Implement full API request in correct location
const response = await fetch("https://cms.theadhocracy.co.uk/api", {
	method: "POST",
	headers: {
		"Content-Type": "application/graphql",
		"Access-Control-Request-Headers": "*",
		Authorization: `Bearer ${import.meta.env.CRAFT_API_KEY}`,
	},
	body: `
			{ 
				updatesEntries(type: "drank", limit: 10) {
					... on updates_drank_Entry {
						id
						brewery {
							title
						}
						assetsAdhoc {
							... on adhocAssets_Asset {
								id
								url
								alt
							}
						}
						pageCopy
						rating
						slug
						tastingNotes {
							... on tastingNotes_Tag {
								id
								title
							}
						}
						drink {
							title
						},
						itemName,
						dateCreated
					}
				}
			}
		`,
	redirect: "follow",
});

const json = await response.json();
const drinks = json?.data?.updatesEntries?.map((drink: any) => {
	return {
		blurb: drink.pageCopy,
		brewery: drink.brewery?.[0]?.title,
		date: new Date(drink.dateCreated).toLocaleDateString("en-GB", {
			year: "2-digit",
			month: "long",
			day: "numeric"
		}),
		image: {
			alt: drink.assetsAdhoc?.[0]?.alt,
			src: drink.assetsAdhoc?.[0]?.url,
		},
		name: drink.itemName,
		rating: drink.rating,
		slug: drink.slug,
		tastingNotes: drink.tastingNotes.map((note: any) => {
			return note.title
		})
	}
});
---

<script define:vars={{ drinks }}>
	// TODO: Remove this <script> element
	console.log(drinks);
</script>

<Layout title="theAdhopracy">
	<main>
		<h1>Ad Hops</h1>
		<ul role="list">
			{drinks.map((drink) => {
				return <li><Drink {...drink} /></li>
			})}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
		background-color: aliceblue;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	ul {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
	}
</style>
